### Construct and Backtest Porfolio from Blackâ€“Litterman model for Asset Allocation

In [2]:
# necessary imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import yfinance as yf
import pyfolio as pf
import backtrader as bt
idx = pd.IndexSlice

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
# Read our 20 tickers weights
wt_min_vola = pd.read_csv('data/wt_min_vola_wts.csv',  index_col=[0])
print(wt_min_vola)

                   0
ASIANPAINT  5.284417
AXISBANK    4.471525
BAJFINANCE  4.746912
BHARTIARTL  5.162227
HCLTECH     5.250446
HDFC        5.063816
HDFCBANK    5.077601
HINDUNILVR  5.433075
ICICIBANK   4.536164
INFY        5.271296
ITC         5.364404
KOTAKBANK   4.941307
LT          4.863962
MARUTI      5.006038
NESTLEIND   3.785818
RELIANCE    5.007140
SBIN        4.649017
SUNPHARMA   5.369237
TCS         5.354129
WIPRO       5.361467

In [5]:
# data store path
DATA_STORE = '../../../../machine-learning-for-trading-master/\
machine-learning-for-trading-master/data/nse_asset.h5'

In [6]:
with pd.HDFStore(DATA_STORE) as store:
    print(store.info())

<class 'pandas.io.pytables.HDFStore'>
File path: ../../../../machine-learning-for-trading-master/machine-learning-for-trading-master/data/nse_asset.h5
/nse/nse50/metadata            frame        (shape->[1,3])
/nse/nse500/metadat            frame        (shape->[1,5])
/nse/nse500/prices             frame        (shape->[2559907,7])

In [7]:
# get the prices for top 20 companies
with pd.HDFStore(DATA_STORE) as store:
    prices = (store['/nse/nse500/prices'].loc[wt_min_vola.index])
prices.head(2)

                          close  dividend       high        low       open  \
ticker     date
ASIANPAINT 2002-07-01  1.582765       0.0  22.466999  21.367001  21.367001
           2002-07-02  1.599312       0.0  22.783001  21.370001  21.370001

                       split    volume
ticker     date
ASIANPAINT 2002-07-01    0.0   87810.0
           2002-07-02    0.0  588615.0

In [8]:
# remove tickers where we have less than 10 years of data.
min_obs = 2520
nobs = prices.groupby(level='ticker').size()
keep = nobs[nobs>min_obs].index

prices = prices.loc[idx[keep,:], :]
prices.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 146433 entries, (ASIANPAINT, 2002-07-01 00:00:00) to (WIPRO, 2020-06-10 00:00:00)
Data columns (total 7 columns):
close       146433 non-null float64
dividend    142003 non-null float64
high        146433 non-null float64
low         146433 non-null float64
open        146433 non-null float64
split       142003 non-null float64
volume      146433 non-null float64
dtypes: float64(7)
memory usage: 8.5+ MB

In [10]:
# date range for the backtesting
fromdate=datetime.datetime(2010, 1, 1)
todate=datetime.datetime(2020, 5, 29)

In [11]:
# save the data as .csv file
prices.to_csv('data/prices_all.csv')

In [12]:
# Read daily prices from csv
prices = pd.read_csv('data/prices_all.csv', index_col=['ticker','date'], parse_dates=True)
prices.head(2)

                          close  dividend       high        low       open  \
ticker     date
ASIANPAINT 2002-07-01  1.582765       0.0  22.466999  21.367001  21.367001
           2002-07-02  1.599312       0.0  22.783001  21.370001  21.370001

                       split    volume
ticker     date
ASIANPAINT 2002-07-01    0.0   87810.0
           2002-07-02    0.0  588615.0

In [13]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 146433 entries, (ASIANPAINT, 2002-07-01 00:00:00) to (WIPRO, 2020-06-10 00:00:00)
Data columns (total 7 columns):
close       146433 non-null float64
dividend    142003 non-null float64
high        146433 non-null float64
low         146433 non-null float64
open        146433 non-null float64
split       142003 non-null float64
volume      146433 non-null float64
dtypes: float64(7)
memory usage: 8.3+ MB