In [3]:
from scipy import stats
import numpy as np
import pandas as pd
idx = pd.IndexSlice

In [6]:
DATA_STORE = '../../../../machine-learning-for-trading-master/\
machine-learning-for-trading-master/data/nse_asset.h5'

In [7]:
with pd.HDFStore(DATA_STORE) as store:
    print(store.info())

<class 'pandas.io.pytables.HDFStore'>
File path: ../../../../machine-learning-for-trading-master/machine-learning-for-trading-master/data/nse_asset.h5
/nse/nse50/metadata            frame        (shape->[1,3])
/nse/nse500/metadat            frame        (shape->[1,5])
/nse/nse500/prices             frame        (shape->[2559907,7])

In [96]:
with pd.HDFStore(DATA_STORE) as store:
    nifty50 = (store['/nse/nse50/metadata'])
nifty50.head(2)

   Company Name         Symbol          Sector
0   Adani Ports  ADANIPORTS.NS  Infrastructure
1  Asian Paints  ASIANPAINT.NS  Consumer Goods

In [97]:
nifty50.to_csv('data/nifty50_meta_nse.csv',index=False)

In [9]:
tickers = [ticker[:-3] for ticker in nifty50.Symbol]
print(tickers)

['ADANIPORTS', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJFINANCE', 'BAJAJFINSV', 'BHARTIARTL', 'INFRATEL', 'BPCL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT', 'GAIL', 'GRASIM', 'HCLTECH', 'HDFC', 'HDFCBANK', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'ICICIBANK', 'INDUSINDBK', 'INFY', 'IOC', 'ITC', 'JSWSTEEL', 'KOTAKBANK', 'LT', 'M&M', 'MARUTI', 'NESTLEIND', 'NTPC', 'ONGC', 'POWERGRID', 'RELIANCE', 'SHREECEM', 'SBIN', 'SUNPHARMA', 'TCS', 'TATAMOTORS', 'TATASTEEL', 'TECHM', 'TITAN', 'ULTRACEMCO', 'UPL', 'VEDL', 'WIPRO', 'ZEEL']

In [84]:
with pd.HDFStore(DATA_STORE) as store:
    prices = (store['/nse/nse500/prices'].loc[['ADANIPORTS', 'ASIANPAINT', 'AXISBANK',
                                               'BAJAJ-AUTO', 'BAJFINANCE', 'BAJAJFINSV', 'BHARTIARTL']])
prices.head(2)

                            close  dividend        high         low   open  \
ticker     date
ADANIPORTS 2007-11-27  167.638992       0.0  207.000000  154.000000  154.0
           2007-11-28  154.703354       0.0  197.800003  174.929993  194.0

                       split      volume
ticker     date
ADANIPORTS 2007-11-27    0.0  27262366.0
           2007-11-28    0.0  21958915.0

In [85]:
prices = prices.unstack('ticker')['close'].fillna(method='ffill')
# prices = prices.unstack('ticker')['close'].fillna(method='ffill').resample('Y').last() #.dropna() #asfreq('Y')#.dropna()
prices.head(2)

ticker,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL
date,,,,,,,
2007-11-27,167.638992,46.054684,118.140648,NaN,NaN,12.117596,395.662659
2007-11-28,154.703354,46.305435,114.794525,NaN,NaN,12.218306,393.156708

In [86]:
def confIntMean(ts, conf=0.68):
    pc = ts.pct_change()
    mean, sigma = np.mean(pc) * 252, np.std(pc) * np.sqrt(252)
    return stats.norm.interval(conf, loc=mean, scale=sigma / np.sqrt(len(pc)))

In [87]:
conf_list = prices.apply(confIntMean)

In [88]:
conf_list.values

array([(0.05671368561445099, 0.06277600482180577),
       (0.21428473069871878, 0.22092742450689884),
       (0.23229757480115748, 0.24294872138310802),
       (0.0418205405571238, 0.04505286242609568),
       (0.10668770993323906, 0.11227753781149924),
       (0.6995128429900631, 0.7403463396538079),
       (0.12450688887807013, 0.13211437998013845)], dtype=object)

In [89]:
url = 'https://www.moneyworks4me.com/best-index/nse-stocks/top-nifty50-companies-list/'
nifty50 = pd.read_html(url, header=0)[0]

In [90]:
nifty50.head(3)

,Company Name (M.Cap),Is it a Right Stock?,CMP,Price Change,Market Cap (Cr),52W High,52W Low,ROE,P/E,P/BV,EV/EBITDA
0,Mahindra & Mahindra Ltd.(L),1Very Good,508.7,7.22%,58986,675.0,245.8,14.95,12.60,1.60,8.25
1,Bharti Infratel Ltd.(L),1Very Good,225.1,6.76%,38999,295.8,121.2,15.20,22.33,2.81,11.94
2,Shree Cement Ltd.(L),1Very Good,22468.0,5.67%,76716,25341.0,15500.0,12.57,48.86,5.93,28.26

In [94]:
nifty50.to_csv('data/nifty50_meta.csv',index=False)

In [98]:
mcap = pd.read_csv('data/mcap.csv')
mcap.head(2)

                Company Name (M.Cap)      Tickers  Market Cap (Cr)
0        Reliance Industries Ltd.(L)  RELIANCE.NS          1039662
1  Tata Consultancy Services Ltd.(L)       TCS.NS           775918

In [108]:
# self.ranks = {d: m * inv for d, inv, m in zip(self.datas, invs, ms)}
mcap_dict = {ticker : cap for ticker, cap in zip(mcap['Tickers'].values, mcap['Market Cap (Cr)'].values)}

In [109]:
mcap_dict

{'RELIANCE.NS': 1039662,
 'TCS.NS': 775918,
 'HDFCBANK.NS': 531433,
 'HINDUNILVR.NS': 494932,
 'HDFC.NS': 309535,
 'BHARTIARTL.NS': 300929,
 'INFY.NS': 299671,
 'KOTAKBANK.NS': 256977,
 'ITC.NS': 239207,
 'ICICIBANK.NS': 220911,
 'MARUTI.NS': 163946,
 'NESTLEIND.NS': 160074,
 'SBIN.NS': 158144,
 'HCLTECH.NS': 156863,
 'ASIANPAINT.NS': 154388,
 'BAJFINANCE.NS': 140624,
 'LT.NS': 130585,
 'WIPRO.NS': 121582,
 'AXISBANK.NS': 116675,
 'SUNPHARMA.NS': 113633}